$fuente_principal:'Comic Neue', cursive;

//colores
$verde: #60eaa5;
$rosa: #c80e2d;
$amarillo: #f1f108;
$morado: #520652;
$negro: #000000;
$blanco: #ffffff;
$gris:  #6f6e6e;
$rojo: #ff0000;

//media queris
$MiniTelefono:363px;
$telefono:590px;
$tablet:768px;
$desktop: 992px;
$desktopxl: 1200px;
