@use 'base/variables' as v; 
@use 'base/mixins' as m;

.boletos{
    padding: 5rem 0;
    h3{
        text-align: center;
        color: v.$blanco;
        margin-bottom: 1rem;
    }

    .contenedor-boletos{
        @include m.tablet{
            @include m.grid(2,4rem);
        }
    }
}


.pase{
    .nombre-pase{
        text-align: center;
        font-size: 2rem;
        color: v.$blanco;
        font-weight: bold;
    }
    &-header, &-footer{
        padding: .5rem;
        p{
            text-align: center;
            color: v.$blanco;
            margin: 0;
        }
    }
    .pase-header{
        background-color: v.$rosa;
        text-transform: uppercase;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .pase-body{
        background-color: v.$blanco;
        ul{
            @include m.resetear-lista;
            li,
            :nth-child(odd){
                background-color: v.$blanco;
                padding: 0.5rem; //esto es un espacio entre lineas
            }
        }
    }

    .pase-footer{
        background-color: v.$morado;
        p{
            font-size: 2rem;
            font-weight: bold;
        }
    }
    
}
.letraBoleto{
    background-color: v.$gris;
   
    li:nth-child(odd){
        background-color: darken(v.$gris, 18%);
    }
}