@use 'base/mixins' as m;
@use 'base/variables' as v;



.site-footer {
    background-color: v.$rojo;
    padding: 1rem;
    height: 12rem;
    text-align: center;

    p {
        margin: 0;
        text-align: center;
        color: v.$blanco;
        font-weight: bold;
        font-size: 1.2rem;
    }

    h1 {
        margin: 0;
        text-align: center;
        color: v.$blanco;
        font-weight: bold;
        font-size: 3rem;
    }

    a {
        margin: 5rem;
    }
    a:hover {
        svg {
            border-radius: 50%;
            background-color: v.$blanco;
            width: 70px;
            height: 70px;
        }
    }

    @include m.telefono{
        height: 33rem;
        .redes{
            svg{
            
                width: 30px;
                height: 30px;
            }
        }

        height: 15rem;
       
        
    }
    @include m.Minitelefono{
        .redes{
            @include m.grid(1,.1rem);
            display: block;
        }
        
            height: 25rem;
    }
}

